body {
    margin: 0;
    font-family: "Arial";
}

.header {
    background-color: #222831;
    height: 10vh;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-weight: bold;
    font-size: 30px;

}

.wrapper {
    background-color: #393E46;
    display: flex;
    height: 85vh;
    margin: 0;
    padding: 0;
}

.menu {
    background-color: #00ADB5;
    border: solid;
    height: 70vh;
    width: 30vh;
    margin: auto;
    margin-right: 0;
    display: flex;
    flex-direction: column;
    gap: 30px
}

#canvas {
    display: flex;
    border: solid;
    margin: auto;
    height: 70vh;
    width: 80vh;
    flex-wrap: wrap;
    margin-left: 0;
}

.footer {
    background-color: #222831;
    display: flex;
    height: 5vh;
    justify-content: center;
    align-items: center;
    color: white;
    font-family: "Arial";
    font-size: 12px;
}

.selection {
    display: flex;
    flex-shrink: 1;
    padding: 10px;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 8px;
}

input {
    border: none;
    background: hsl(0 0% 93%);
    border-radius: .25rem;
    padding: 8px 6px;
    flex-shrink: 1;
}

button {
    background: hotpink;
    color: white;
    border: none;
    border-radius: .25rem;
    cursor: pointer;
}

.text {
    display: flex;
    align-items: center;
    color: white;
}

.colorSelector, .rainbowSwitch {
    display: flex;
    justify-content: space-between;
    padding: 10px;
    flex-wrap: wrap;
}

#color {
    background-color: #00ADB5;
    height: 6vh;
    width: 16vh;
    min-width: 8vh;
    min-height: 4vh;
    flex-basis: auto;
}

#color::-webkit-color-swatch {
    border-radius: 0.25rem;
    border: solid
}

/* Toogle button */

/* Make the button disappear */
#check {
    opacity: 0;
    width: 0;
    height: 0;
    cursor: pointer;
}

#check + label {
    position: relative;
    display: flex;
    align-items: center;
    cursor: pointer;
}

/* Style before */
#check + label::before {
    content: ""; /* empty string just to show up */
    width: 2em;
    height: 1em;
    background-color: #DDD;
    border-radius: .45em;
    transition: 200ms ease-in-out;
}

/* Style after */
#check + label::after {
    position: absolute;
    content: "";
    left: .1em;
    width: .9em;
    height: .9em;
    background-color: white;
    border-radius: .45em;
    transition: 200ms ease-in-out;
}

/* Style when checked */
#check.toggle:checked + label::after {
    transform: translateX(100%); /* Move to the right */
    background-color: hsl(90, 80%, 60%);
}

/* Style before */
#check.toggle:checked + label::before {
    content: ""; /* empty string just to show up */
    width: 2em;
    height: 1em;
    background-color: hsl(90, 70%, 90%);
    border-radius: .45em;
}

#check.toggle:focus + label::before {
    outline: 1px solid black;
}