body {
    margin: 0;
}

.header {
    background-color: #222831;
    height: 10vh;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-family: "Arial";
    font-weight: bold;
    font-size: 30px;

}

.wrapper {
    background-color: #393E46;
    display: flex;
    height: 85vh;
    margin: 0;
    padding: 0;
}

.menu {
    background-color: #00ADB5;
    border: solid;
    height: 70vh;
    width: 30vh;
    margin: auto;
    margin-right: 0;
}

.canvas {
    display: flex;
    border: solid;
    margin: auto;
    height: 70vh;
    width: 80vh;
    flex-wrap: wrap;
    margin-left: 0;
}

.pixel {
    background-color: pink;
    height: 33.33%;
    width: 33.33%;
}

.footer {
    background-color: #222831;
    display: flex;
    height: 5vh;
    justify-content: center;
    align-items: center;
    color: white;
    font-family: "Arial";
    font-size: 12px;
}

.selection {
    display: flex;
    flex-shrink: 1;
    padding: 10px;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 8px;
}

input {
    border: none;
    background: hsl(0 0% 93%);
    border-radius: .25rem;
    padding: 8px 6px;
    flex-shrink: 1;
}

button {
    background: hotpink;
    color: white;
    box-shadow: 0 .75rem .5rem -.5rem hsl(0 50% 80%);
    border: none;
    border-radius: .25rem;
}